<h1><%= @name %></h1>
<h2><%= @surname %></h2>
<p><%= @description %></p>
<p><%= @description2 %></p>
<img src="https://pbs.twimg.com/profile_images/948294484596375552/RyGNqDEM_400x400.jpg"></img>



 
<h2> Ses curiosités </h2>
<% @my_curiosities.each do |curiosity| %>
    <h3> <%= curiosity.name %> </h3>
    <p> <%= curiosity.description %> </p>
    <p> <img src="<%= curiosity.image_url %>"> </img></p>
    <p> <%= curiosity.image_text %> </p>
    <p> <%= curiosity.created_at %> </p>
    <p> </p> <%= curiosity.updated_at %> </p>
 <% end %>   

